@tailwind base;
@tailwind components;
@tailwind utilities;
body
{
    max-height: 1000px;
    width: 340px;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.containorTable::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
